// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FF5E3A;
$green: #32B796;
$gray: #808080;
$light-gray: #F4F4F4;
$turquoise: #21968F ;
