#left-block{
  margin-left: 30px;
}


.reviews-box {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: $gray;
  border-radius: 5px;
  border-bottom: solid;
  margin-bottom: 10px;

}

.reviews-content {
  margin: 20px;
}

#category {
  color: $orange;
  font-weight: lighter;
  margin-bottom: -25px;
}

#title {
  font-size: 40px;
  color: grey;
  margin-bottom: -10px;
}

#left-block h4 {
  color: grey;
  margin-bottom: 40px;
}

#left-block p {
  color: $gray;
  margin-bottom: 40px;
}

hr {
  border: solid;
  border-width: 1px 1px 1px 1px;
  border-color: lightgrey;
}

.fa-map-marker-alt {
  color: $orange;
}

.hide-2:nth-child(n+3) {
  display: none;
}

.show-avatar {
  border-radius: 1px;
  margin-left: 30px;
  margin-top: 40px;
  height: 300px;
  width: 600px;
  vertical-align: middle;
}
