#left-block{
  margin-left: 50px;
}

.reviews-box{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: lightgrey;
  border-radius: 5px;
  border-bottom: solid;
  margin-bottom: 10px;

}

.reviews-content {
  margin: 20px;
}

#category {
  color: $orange;
}

#title {
  font-size: 40px;
}

h3 {
  font-family: $headers-font;
  font-weight: bold;
}

h4 {
  color: $gray;
}

p {
  color: $gray;
}

hr {
  border: solid;
  border-width: 1px 1px 1px 1px;
  border-color: lightgrey;
}

.fa-map-marker-alt {
  color: $orange;
}

