.btn_edit {
  color: $orange;
  font: $body-font;

}

.btn_interests {
  color: $orange;
  border: $orange;
  border: 1px solid $orange;
  // outline-color: $orange;
}

.container .edit_user_form{

  margin-top: 100px;
}

.card_block {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 310px;
  overflow: scroll;
}

.profile_pict {
  width: 20%;

}

.about_user.row {
}

.user-avatar {
  width: 100px;
  border-radius: 50%;
  vertical-align: none;
  margin-top: 25px;

}
.profile_information {

}

