.btn_edit {
  color: $orange;
  font: $body-font;

}

.btn_interests {
  color: $orange;
  border: $orange;
  border: 1px solid $orange;
  &:hover {
    color: $orange;
  }
  // outline-color: $orange;
}

.container .edit_user_form{

  margin-top: 100px;
}

.container_user_profile {
  padding-left: 150px;
  padding-right: 150px;
}

.card_block {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 310px;
  overflow: scroll;
}

.profile_pict {
  width: 20%;

}

.about_user.row {
  margin-top: 25px;
}

.user_interest {
}

.user-avatar {
  width: 150px;
  border-radius: 5px;
  margin-top: 25px;

}
.profile_information {
  p {
    margin-bottom: 0px;
  }
  h3 {
    font-family: Lobster;
    color: $orange;
  }
}

.post-show h4 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: grey;
  font-size: 16px;
  font-weight: bold;
}

.user_saved_gems h3 {
  color: grey;
  margin-top: 0px;
}

.container_user_profile hr {
  margin-bottom: 10px;
}
.add-interest {
  color: $orange;
  font-weight: lighter;
  text-align: right;
  background-color: transparent !important;
  font-size: 16px;
  &:hover {
    color: $orange;
    text-decoration: underline;
  }
}

.fa-plus-circle {
  color: $orange;
  padding: 0px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.fa-times-circle {
  color: lightgrey;
  &:hover {
    color: $orange;
  }
}

